<nav class='bg-dark'>
    <ul>
        <li><a href='{{ path('app_admin_page') }}'>{{ 'Dashboard' }}</a></li>
        <li class='sub-menu'><a href='#products'>{{ 'Products' }}<div class='fa fa-caret-down right'></div></a>
            <ul id="products">
                <li><a href='{{ path('app_admin_products') }}'>{{ 'View all' }}</a></li>
                <li><a href='{{ path('app_admin_products_create') }}'>{{ 'Create' }}</a></li>
                <li><a href='{{ path('app_admin_products_create_position') }}'>{{ 'Add position' }}</a></li>
            </ul>
        </li>
        <li><a href='{{ path('app_admin_api_logs') }}'>{{ 'Api logs' }}</a></li>
        <li><a href='{{ path('app_home_page') }}'>{{ 'Home' }}</a></li>

        <li><a href='{{ path('app_logout') }}'>{{ 'Logout' }}</a></li>
    </ul>
</nav>