{% extends 'base.html.twig' %}

{% block title %}{{ 'Cart page' }}{% endblock %}

{% block body %}
    <h3>
        {{ 'Cart page' }}
    </h3>
    {% if cart %}
        <table class="table">
            <thead>
               <th>{{ 'Product name' }}</th>
               <th>{{ 'Product price' }}</th>
               <th>{{ 'Qty' }}</th>
                <th>{{ 'Action' }}</th>
            </thead>
            <tbody>
                {% for item in cart.cartItem  %}
                    <tr>
                        <td>
                            {{ item.product.name }}
                        </td>
                        <td>
                            {{ item.price }}
                        </td>
                        <td>
                            {{ item.qty }}
                        </td>
                        <td>
                            <form method="post" action="{{ path('app_remove_from_cart_page') }}">
                                <input type="hidden" name="cart_item_id" value="{{ item.id }}">
                                <button type="submit" class="btn btn-warning">{{ 'Remove' }}</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    {{ 'Your cart is empty' }}
                {% endfor %}
            </tbody>
        </table>
        {{ 'Total' }}: <b>{{ cart.total }}</b>

        {% if cart.total > 0 %}
            <form method="post" action="{{ path('app_checkout_page') }}">
                <input type="hidden" name="payment_total" value="{{ cart.total }}">
                <label for="payment_method">{{ 'Payment method' }}</label>
                <select name="payment_method">
                    <option value="paypal">{{ 'Paypal' }}</option>
                </select>
                <button type="submit" class="btn btn-success">{{ 'Pay' }}</button>
            </form>
        {% endif %}
    {% else %}
        {{ 'Your cart is empty' }}
    {% endif %}
{% endblock %}

