{% extends 'base.html.twig' %}

{% block title %}{{ 'Cart page' }}{% endblock %}

{% block body %}
    <h3>
        {{ 'Cart page' }}
    </h3>
    {% if cart %}
        <table class="table">
            <thead>
               <th>{{ 'Product name' }}</th>
               <th>{{ 'Product price' }}</th>
               <th>{{ 'Qty' }}</th>
            </thead>
            <tbody>
                {% for item in cart.cartItem  %}
                    <tr>
                        <td>
                            {{ item.product.name }}
                        </td>
                        <td>
                            {{ item.price }}
                        </td>
                        <td>
                            {{ item.qty }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ 'Total' }}: <b>{{ cart.total }}</b>
    {% else %}
        {{ 'Your cart is empty' }}
    {% endif %}
{% endblock %}

