{% extends 'base.html.twig' %}

{% block title %}{{ 'Home page' }}{% endblock %}

{% block body %}
    {% if rateData %}
        {{ 'Last 5 top rated songs' }}
        <div>
            <ul class="list-group">
                {% for rate in rateData %}
                    <li class="list-group-item">
                        {{ rate.song_name|e }}
                        {% if rate.song_author %}
                            ({{ rate.song_author }})
                        {% endif %}
                        -
                        {% if rateData[rate.id] is defined and rateData[rate.id] is not null %}
                            <b>{{ 'Rating' }}: ({{ rateData[rate.id].avg_rating|number_format(1) }}/10)</b>
                            <b>{{ 'Voters' }}: {{ rateData[rate.id].count }}</b>
                        {% endif %}
                    </li>
                {% else %}
                    {{ 'The are no rates' }}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if lastAddedSongs %}
        {{ 'Last 5 added songs' }}
        <div>
            <ul class="list-group">
                {% for song in lastAddedSongs %}
                    <li class="list-group-item">
                        {{ song.name|e }}
                        {% if song.author %}
                            ({{ song.author }})
                        {% endif %}
                    </li>
                {% else %}
                    {{ 'The are no songs' }}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

