{% extends 'base.html.twig' %}

{% block title %}{{ 'Products' }}{% endblock %}

{% block body %}
    <h3>{{ 'Products' }}</h3>

        {% for product in collection %}
            <div class="w-25 border">
                <div class="col text-center">
                    {% if product.image %}
                        {% for image  in product.image  %}
                            <img class="text-center" src=" {{ get_product_image(image) }}" width="300px" />
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col text-center">
                    <p>{{ product.name }}</p>
                    {% if product.description|length > 50 %}
                        <div
                            {{ stimulus_controller('read-more') }}
                        >
                            <div data-read-more-target="content">
                                {{  product.description|slice(0, 50) }}...
                            </div>
                            <a href="" class="read-more-link" data-action="click->read-more#showContent"  data-description="{{ product.description }}">{{ 'Read more' }}</a>
                            <a href="" class="read-less-link d-none" data-action="click->read-more#hideContent"  data-short-description="{{  product.description|slice(0, 50) }}">{{ 'Read less' }}</a>
                        </div>
                    {% else %}
                        {{  product.description }}
                    {% endif %}
                    <span class="fw-bold">{{ product.price }}</span>
                    <form method="post" action="{{ path('app_add_to_cart_page') }}">
                        <input type="hidden" name="product" value="{{ product.id }}">
                        <input type="hidden" name="price" value="{{ product.price }}">
                        <input placeholder="{{ 'Qty' }}" type="text" name="qty" required>
                        <button type="submit" class="btn btn-success">{{ 'Add to cart' }}</button>
                    </form>
                </div>
            </div>
        {% else %}
            {{ 'The are no products' }}
        {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(collection) }}
    </div>

{% endblock %}

