{% extends 'base.html.twig' %}

{% block title %}{{ 'Products' }}{% endblock %}

{% block body %}
    <h3>{{ 'Products' }}</h3>

        {% for product in collection %}
            <div class="w-25 border">
                <div class="col text-center">
                    {% if product.image %}
                        {% for image  in product.image  %}
                            <img class="text-center" src=" {{ get_product_image(image) }}" width="300px" />
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col text-center">
                    <p>{{ product.name }}</p>
                    <p>{{ product.description }}</p>
                    <span class="fw-bold">{{ product.price }}</span>
                </div>
            </div>
        {% else %}
            {{ 'The are no products' }}
        {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(collection) }}
    </div>

{% endblock %}

