<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Welcome{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<div class="container-fluid">
    {{ include('page/header.html.twig') }}

    <div class="row mt-5">
        <div class="col-md-2">
            {{ include('page/admin_nav.html.twig') }}
        </div>
        <div class="col-md-10">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>

</div>

<!-- JAVASCRIPT FILES -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/counter.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/menu.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script src="/js/add-sort.js"></script>
</body>
</html>