<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Welcome{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body id="section_1">

{{ include('page/header.html.twig') }}

{{ include('page/menu.html.twig') }}

<main>
    <section class="section-padding">
        <div class="container">
            <div class="row">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </section>
    {{ include('page/footer.html.twig') }}
</main>
<!-- JAVASCRIPT FILES -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/counter.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>