{% extends 'base.html.twig' %}

{% block title %}{{ 'New Vote' }}!{% endblock %}

{% block body %}
    <h3>{{ 'Please rate you favourite song!' }}</h3>
    {{ form_start(form) }}
    <div class="mb-3 mt-3">
        {{ form_row(form.rating, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3 mt-3">
        {{ form_row(form.song, {'attr': {'class': 'form-control'}}) }}
    </div>

    {{ form_end(form) }}
{% endblock %}

